body{
    background-color: #F1F0F5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main div div h5, h2, p {
    margin-top: -15px;
}

header nav div div a:active {
    background-color: blueviolet  !important;
}


main div div p {
    margin-top: -10px;
}

main {
    margin-top: 70px;
}

.social-list {
    list-style-type: none;
}

.social-list li {
    margin-left: 30%;
    margin-top: 3px;
}

.social-list a {
    text-decoration: none;
    color: black;
}

.social-list a:hover {
    color: blueviolet;
}

.email:hover {
    color: blueviolet;
}

.cta {
    background-color: blueviolet;
    color: white;
    border-radius: 3px;
    width: 70px;
    height: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta:hover {
    background-color: #443266;
    color: white;
}

.project-card {
    width: 20rem;
    height: 27rem;
}

.profile-pic {
    width: 300px;
    height: 420px;
}
@media only screen and (max-width: 600px) {
    .profile-pic {
        border-radius: 50%;
        width: 270px;
        height: 270px;
    }
    
}